<!-- All of this Works! -->


<!-- Calendar Grid Section -->
    <section id="calendar" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-muted">Calendar</h2>
                    <h3 class="section-subheading text-muted">If you have any questions, please get in touch with Mr. Scott.</h3>
                </div>  
            </div> <!-- row -->


  <div class="col-lg-12">

            {% for post in site.posts limit: 1 %}


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">



  <div class="panel panel-default">
    




  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#{{post.title}}" aria-expanded="false" aria-controls="collapseTwo">
         Upcoming Classes
        </a>
      </h4>
    </div>
    <div id="{{post.title}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
           <p>{{post.content}}</p>
      </div>
    </div>
  </div>

</div>




   











            {% endfor %}

  </div> <!-- row -->
        
   <!-- begin future and announcements -->
<!-- 
{% for page in site.ordo_row limit: 5 %}

        <h3>
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h3>
         <p class="page-meta">{{ page.date | date: "%b %-d, %Y" }} {% if page.author %} • by {{ page.author }} {% endif %} {% if page.tags %} • {{ page.tags | array_to_sentence_string }}{% endif %} {% if page.meta %} • {{ page.meta }}{% endif %}</p>


  {{ page.excerpt }}
  <p class="text-right"><a href="{{ page.url | prepend:site.baseurl }}">Continue Reading &rarr;</a></p>

    
    {% endfor %}
 -->



            <div class="row">



    <h1 class="bg-light-gray"> Current Classes </h1>


          
            {% for page in site.ordo_row reversed %}



            
                <div class="col-sm-4 col-md-4">


    
<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title text-muted"><span class="badge">{{ page.number }}</span>  <small>{{page.3A}} | {{page.8th}}      </span></small></h1> 

<h6><small>{{page.topic}} </small></h6>



  </div>
  <div class="panel-body">  


<div class="col-md-12 col-sm-12">

  <div class="col-md-12 col-sm-12">
  
 

  {% if page.thumbnail %}
   <figure>
<img src="img/portfolio/{{ page.thumbnail }}" class="img-responsive img-rounded center-block" alt=""></a>

<caption><p class="thumbcaption text-center">{{ page.caption }} </p> </caption>
</figure>
 {% endif %}



 

</div>

 {% if page.mindmap %}
<img src="{{ page.mindmap }}" class="img-responsive img-rounded" alt="">
 {% endif %}




<!-- Button trigger modal -->
<button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#{{ page.title}}">
  Agenda
</button>

<!-- Modal -->
<div class="modal fade" id="{{ page.title}}" tabindex="-1" role="dialog" aria-labelledby="my{{ page.title}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="my{{ page.title}}"> {{ page.title}} <small>{{page.3A}} | {{page.8th}}      </span></small></h4>
      </div>
      <div class="modal-body portfolio-modal">



<div class="smallertext">

  {% if page.mindmap %}
<img src="{{ page.mindmap }}" class="img-responsive img-rounded" alt="">
 {% endif %}

   {{ page.content}}


</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<!-- END Button trigger modal -->






















 </div>



 




    
  </div>

  

  <div class="panel-footer"><h6 class="tinytext text-muted"> <small>{% if page.unit %}<b>Unit:</b>   {{page.unit}} </h6></small> {% endif %}










 







  </div>

   <!-- <div class="panel-footer">

    <h5>homework:</h5> <p>{{page.homework}}</p> 
   </div> -->


</div>





                </div>  <!-- column -->
    
            {% endfor %}

 <!-- Add the extra clearfix for only the required viewport -->
                 <div class="clearfix"></div>

        
 
            </div> <!-- row -->




            

        
      </div><!--/row-->








        </div> <!-- container -->
    </section>