 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>ROW Final Project</h1>
    

     <p> There are four levels of effort/engagement for the final project </p>

      <!-- Progress Bars -->

      <div class="row text-center">

  <div class="col-md-12"><div class="alert alert-success" role="alert">
  <h1>Base</h1>  
</div>



</div>



<div class="panel panel-default text-left">
  <div class="panel-body">

<h2>NOW Portfolio</h2>

<ul>
<li>Complete all of the past and upcoming NOW writing assignments</li>
<li>Find a picture that illustrates each of your reflections.</li>
<li>From within the Day1.app, it is easy to convert all of your NOW writing assignments to a PDF.</li>
<li>You will turn in this PDF to Showbie.</li>
</ul>

<h2>Video Message</h2>

<ul>
<li>Make a 30 second video which a describes your idea on how to live a beautiful life. Imagine a friend or younger sibling asked you, &#8220;How can I live a beautiful life?&#8221; Using ideas from the religions of the world and other ideas that you have formed, answer the question giving your advice and encouragement.

<ul>
<li>Rehearse your speech so that you &#8220;own&#8221; your message.</li>
<li>Choose your environment carefully (i.e. avoid cafeteria or a crowded area. Try to choose a beautiful or important background)</li>
<li>use the landscape mode of your phone or iPad</li>
<li>Make sure the sound quality is excellent</li>
<li>You will upload the video to Showbie</li>
</ul></li>
</ul>


  </div>
</div>






  <div class="col-md-12"><div class="alert alert-warning" role="alert">
  <h1>+ Study</h1>
</div></div>


<div class="panel panel-default text-left">
  <div class="panel-body">

<h2>Study</h2>

<ul>
<li>Choose something to work on to round out your study of the Religions of the World

<ul>
<li>Chapters of EROW that we haven’t covered</li>
<li>Poetry and Mysticism from Religious Traditions (We will do some of this in class— you would dig deeper)

<ul>
<li>Christian

<ul>
<li>Thomas Merton</li>
<li>Gerard Manley Hopkins</li>
<li>Jessica Powers</li>
<li>William Blake</li>
<li>Wendell Berry</li>
<li>Julian of Norwich</li>
<li>St. Augustine</li>
</ul></li>
<li>Sufi (Islam)

<ul>
<li>Rumi</li>
<li>Hafiz</li>
<li>Kabir</li>
<li>Attar</li>
<li>Bulleh Shah</li>
<li>Lalla Ded</li>
<li>Omar Khayyam</li>
</ul></li>
<li>Taoist Poets

<ul>
<li><a href="http://www.poetseers.org/the-poetseers/lao-tzu/index.html">Lao Tzu</a></li>
<li><a href="http://www.poetseers.org/the-great-poets/chinese-poets/tu-fu/index.html">Tu Fu</a></li>
<li><a href="http://www.poetseers.org/the-great-poets/chinese-poets/li-po/index.html">Li Po</a></li>
<li><a href="http://www.poetseers.org/spiritual-and-devotional-poets/chinese/chuang-tzu/index.html">Chuang Tzu</a></li>
<li><a href="http://www.poetseers.org/the-great-poets/chinese-poets/wu-men/index.html">Wu Men</a></li>
<li><a href="http://www.poetseers.org/the-great-poets/chinese-poets/wang-wei/index.html">Wang Wei</a></li>
<li><a href="http://www.poetseers.org/the-poetseers/confucius/index.html">Confucius</a></li>
</ul></li>
<li>Hindu Poets<br>
<a href="http://www.poetseers.org/spiritual-and-devotional-poets/india/index.html">http://www.poetseers.org/spiritual-and-devotional-poets/india/index.html</a>

<ul>
<li>Sri Ramakrishna</li>
<li>Rabindranath Tagore<br>
<a href="http://www.poetseers.org/nobel-prize-for-literature/tagore/index.html">http://www.poetseers.org/nobel-prize-for-literature/tagore/index.html</a></li>
<li>Ramana Maharshi<br>
<a href="http://www.poetseers.org/spiritual-and-devotional-poets/indian-poets-20th-century/ramana-ma/index.html">http://www.poetseers.org/spiritual-and-devotional-poets/indian-poets&#8211;20th-century/ramana-ma/index.html</a></li>
</ul></li>
<li>Buddhist Poets

<ul>
<li>Bodidharma</li>
<li>Thich Nhat Hahn</li>
<li><a href="http://www.poetseers.org/spiritual-and-devotional-poets/buddhist/hanshan/index.html">Hanshan</a></li>
<li><a href="http://www.poetseers.org/spiritual-and-devotional-poets/buddhist/dogen/index.html">Dogen</a></li>
<li><a href="http://www.poetseers.org/spiritual-and-devotional-poets/buddhist/ryokan/index.html">Ryokan</a></li>
</ul></li>
<li>Jewish Poets<br>
<a href="http://www.poetseers.org/spiritual-and-devotional-poets/jewish/index.html">http://www.poetseers.org/spiritual-and-devotional-poets/jewish/index.html</a></li>
<li>Contemporary Poets

<ul>
<li>Mary Oliver<br>
<a href="http://www.poetseers.org/contemporary-poets/mary-oliver/index.html">http://www.poetseers.org/contemporary-poets/mary-oliver/index.html</a></li>
<li>Jane Hirshfield<br>
<a href="http://www.poetseers.org/contemporary-poets/jane-hirshfield/index.html">http://www.poetseers.org/contemporary-poets/jane-hirshfield/index.html</a></li>
</ul></li>
</ul></li>
<li>Explore Meditation, Contemplation, Prayer</li>
<li>Read a book on an aspect of Religion (the book needs to be approved by Mr. Scott)

<ul>
<li>Man’s</li>
<li>Karen Armstrong

<ul>
<li>The Case for God</li>
<li>Twelve Steps to a Compassionate Life</li>
</ul></li>
<li>Dalai Lama

<ul>
<li>Beyond Religion: Ethics for a Whole World</li>
<li>How To Practice</li>
</ul></li>
<li>Anthony deMello

<ul>
<li>Awakening: Conversations with the Masters</li>
</ul></li>
<li>James Martin

<ul>
<li>Becoming Who You Are: Insights on the True Self from Thomas Merton and Other Saints (Christian Classi</li>
<li>The Jesuit Guide to (Almost) Everything: A Spirituality for Real Life</li>
</ul></li>
<li>The Bhagavad Gita</li>
<li>Rick Hanson

<ul>
<li>Buddha&#8217;s Brain: The Practical Neuroscience of Happiness, Love, and Wisdom</li>
</ul></li>
<li>Steven Hagan

<ul>
<li>Buddhism Plain and Simple</li>
</ul></li>
<li>Thomas Merton

<ul>
<li>Conjectures of a Guilty Bystander</li>
<li>Contemplative Prayer</li>
<li>Entering the Silence: Becoming a Monk and a Writer: 2 (The Journals of Thomas Merton)</li>
<li>New Seeds of Contemplation</li>
<li>The Seven Storey Mountain: Fiftieth-Anniversary Edition</li>
<li>The Way of Chuang Tzu (Second Edition)</li>
<li>The Wisdom of the Desert (New Directions)</li>
<li>Zen and the Birds of Appetite</li>
</ul></li>
<li>Thich Nhat Hahn

<ul>
<li>Going Home: Jesus and Buddha as Brothers</li>
<li>Savor: Mindful Eating, Mindful Life</li>
<li>Living Buddha, Living Christ 10th Anniversary Edition</li>
<li>Making Space: Creating a Home Meditation Practice</li>
<li>The Miracle of Mindfulness: An Introduction to the Practice of Meditation</li>
<li>Thoughts In Solitude</li>
</ul></li>
<li>Anne Lamott

<ul>
<li>Help, Thanks, Wow: The Three Essential Prayers</li>
</ul></li>
<li>Jon Kabbot-Zinn

<ul>
<li>Mindfulness for Beginners</li>
</ul></li>
<li>Bhante Gunaratana

<ul>
<li>Mindfulness in Plain English: 20th Anniversary Edition</li>
</ul></li>
<li>Pema Chodron

<ul>
<li>The Pocket Pema Chodron (Shambhala Pocket Classics)</li>
</ul></li>
<li>Scott Peck

<ul>
<li>The Road Less Travelled</li>
</ul></li>
<li>Kathleen Norris

<ul>
<li>The Quotidian Mysteries: Laundry, Liturgy and &#8220;Women&#8217;s Work&#8221; (Madeleva Lecture in Spirituality)</li>
</ul></li>
<li>Sharon Salzburg

<ul>
<li>Real Happiness: The Power of Meditation</li>
</ul></li>
<li>Terry Eagleton

<ul>
<li>Reason, Faith, and Revolution: Reflections on the God Debate (The Terry Lectures Series)</li>
</ul></li>
<li>Stephen Prothero

<ul>
<li>Religious Literacy</li>
</ul></li>
<li>Tao Te Ching</li>
<li>The Tibetan Book of Living and Dying</li>
<li>James Keenan

<ul>
<li>Virtues for Ordinary Christians</li>
</ul></li>
<li>Paul Knitter

<ul>
<li>Without Buddha I Could not be a Christian</li>
</ul></li>
<li>Reza Aslan

<ul>
<li>Zealot: The Life and Times of Jesus of Nazareth</li>
</ul></li>
<li>Suziki

<ul>
<li>Zen Mind, Beginner&#8217;s Mind</li>
</ul></li>
</ul></li>
<li>Explore Religious Symbols</li>
<li>Explore Justice, Service</li>
<li>Explore Golden Rule as expressed in a variety of religious traditions</li>
<li>Explore Religious Art</li>
<li>Biography

<ul>
<li>Dalai Lama</li>
<li>A Guru</li>
<li>A particular hero of faith</li>
</ul></li>
</ul></li>
</ul>


  </div>
</div>


  <div class="col-md-12"><div class="alert alert-info" role="alert">
  <h1>+ Create</h1>




</div>






  </div>




<div class="panel panel-default text-left">
  <div class="panel-body">

<h2>Create</h2>

<ul>
<li>Mindmaps</li>
<li>Create Drawings, Sketches, Cartoons</li>
<li>conversations with Mr. Scott

<ul>
<li>small group conversation</li>
<li>1&#8211;1 conversation</li>
</ul></li>
<li>Social media</li>
<li>Journal in Day 1.app</li>
<li>Write and Perform a song</li>
<li>Plan and Implement a Mindful Dinner</li>
<li>Make a video</li>
</ul></li>
</ul>









</div>













</div>

<div class="col-md-12"><div class="alert alert-danger" role="alert">
  <h1>+ Share</h1>
</div></div>


<p> Make a presentation to the class </p>








</div>

     
</div>
</div>




