 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>ROW Final Project</h1>
    

     <p> There are four levels of effort/engagement for the final project </p>

      <!-- Progress Bars -->

      <div class="row text-center">

  <div class="col-md-12"><div class="alert alert-success" role="alert">
  <h1>Base</h1>  
</div>

<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>

</div>



  <div class="col-md-12"><div class="alert alert-warning" role="alert">
  <h1>+ Study</h1>
</div></div>


  <div class="col-md-12"><div class="alert alert-info" role="alert">
  <h1>+ Create</h1>
</div></div>

<div class="col-md-12"><div class="alert alert-danger" role="alert">
  <h1>+ Share</h1>
</div></div>

</div>

     


 <!-- end progress bar -->

     <div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Sketchnotes on a topic</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>


<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Every student in the class will complete "The Base"</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>

<h2>The Base</h2>
<h2>The Base + Study + Create </h2>
<h2>The Base + Study + Create + Share </h2>



<ol>
<li>Writing Portfolio

<ol>
<li>For each NOW, add a picture to all of your NOW’s in the Day 1.app</li>
<li>Make a list of ten statements that you think are important to living a beautiful life.</li>
</ol></li>
<li>Video Statement

<ol>
<li>Each student will submit a :15&#8211;20 second video. The prompt is: &#8220;Imagine that a friend or a younger sibling asks you this question: How can I live a beautiful life?&#8221;</li>
<li>Specifications:

<ol>
<li>Rehearse your speech so that you “own” your message</li>
<li>Choose your environment carefully (i.e. avoid cafeteria or a crowded area&#8230; choose an important or sacred place for you)</li>
<li>Make sure your iPad is in the horizontal layout NOT the portrait layout</li>
<li>Make sure the sound quality is excellent</li>
</ol></li>
<li>Submission Information:

<ol>
<li>Submit to Google Drive</li>
<li>Have a proper title Last Name + First Name + ROW Video + Period</li>
<li>Share with sscott@mitty.com</li>
</ol></li>
</ol></li>
</ol>





      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      
    </div> <!-- /container -->




