<section id="future">
<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h3>Hello ROW Students</h3>
            <p>This is an an archive of where we have been as a class.</p>
          </div>  <!-- end of jumbotron-->
          <div class="row">

             {% for page in site.ordo_row %}
    {% unless page.published == false %}
            <div class="col-xs-6 col-lg-2">
 

       <h4><a href="{{ site.url }}{{ page.url }}"> {{ page.title }}</a></h4>
    {% if page.thumbnail %}
<img src="img/portfolio/{{ page.thumbnail }}" class="img-responsive img-rounded" alt=""></a>
 {% endif %}
    {% endunless %}
 
 


            </div><!--/.col-xs-6.col-lg-4-->

              {% endfor %}
            

        
      </div><!--/row-->

      <hr>

  

    </div><!--/.container-->

</section>