<!-- Portfolio Grid Section -->
    <section id="resources">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ROW Resources</h2>
                    <h3 class="section-subheading text-muted">

<!-- <ul class="nav nav-pills">
  <li role="presentation"><a class="page-scroll" href="#intro">Introduction</a></li>
  <li role="presentation"><a href="#">Primal Religion</a></li>
  <li role="presentation"><a href="#">Hinduism</a></li>
  <li role="presentation"><a href="#buddhism">Buddhism</a></li>
  <li role="presentation"><a href="#">Islam</a></li>
  <li> <a class="page-scroll" href="#calendar">Calendar</a></li>
</ul> -->


                    </h3>






                </div> <!-- end of text center -->
            </div>  <!-- end of row for title of page and subtitle -->

         <div class="row">  
           
                <div class="col-md-6 col-sm-6"> <!-- start of a unit table -->

     
                    <h3>Introduction to ROW</h3>        

            <ol>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-course%20syllabus.pdf">Course Syllabus <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-day1-instructions.pdf">Instructions for Day 1.app set-up <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-nostra-aetate.pdf">Nostra Aetate <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-prayer-multifaith.pdf">Multi-Faith Prayer <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-metaview.jpg">Row Metaview <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/00-absence%20form.pdf">Late Assignment Form <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-intro-now.pdf">Introduction to NOW <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-3A-seating%20chart.png">3A- Seating Chart and NOW Groups <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-8-now-seating%20chart.png">8th- Seating Chart and NOW Groups <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="http://toketaware.com/ithoughts-ios">Introduction to iThoughts Video <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-ithoughts-intro.itmz"> iThoughts Intro&#8211; About Me <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-nostra-aetate-notes-3a.pdf">Nostra Aetate Notes 3A <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-nostra-aetate-notes-8.pdf">Nostra Aetate Notes 8th <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-why-row.itmz">Why ROW? <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-basic-vocab.itmz">ROW Basic Vocabulary <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-reading-real-terror.pdf">What is the Real Terrorist Threat in America? <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-reading-define-religion.pdf">Defining Religion <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-7dimensions-intro-student.itmz">7 Dimensions of Religion Notes <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li>7 Dimensions of Catholicism

<ul>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-7dimensions-christian-Doctrinal%20and.itmz">Doctrine and Philosophy <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-7dimensions-christian-Emotional%20and.itmz">Emotional and Experiential <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-7dimensions-christian-Ethical%20and%20Legal.itmz">Ethics and Legal <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-7dimensions-christian-Material.itmz">Material <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-7dimensions-christian-Narratives%20and%20Myths.itmz">Narratives and Myths <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-7dimensions-christian-Ritual.itmz">Ritual <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-7dimensions-christian-Social.itmz">Social <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
</ul></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-paradigm-shift-student.itmz">Paradigm Shift <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-handout-dawkins-scale.pdf">Dawkins Scale <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="http://www.pewforum.org/quiz/u-s-religious-knowledge/">Pew Religion Quiz <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-handout-JamesFoley.pdf">James Foley Readings <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-people-unit1.itmz"> The People of Unit 1 <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/icon-ithoughts20-20.jpg" alt=" " /></a></li>
<li><a href="http://www.theguardian.com/world/2015/jan/14/pope-francis-sri-lankan-buddhist-temple">Pope Francis changes schedule to visit Sri Lankan Buddhist temple <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-rosary.pdf">The Rosary <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-7dimensions-generic.pdf">7 Dimensions of Religion note page <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-notes-7dimensions-catholic.pdf">7 Dimensions of Catholicism <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="http://youtu.be/ZnNwpmdWm1w">God&#8217;s Architect: Antoni Gaudi&#8217;s glorious vision <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
</ol>











                </div> <!-- end of unit table -->
   



<div class="col-md-6 col-sm-6"> <!-- start of a unit table -->

     
                    <h3>Primal Religion</h3>        
                 

                 <ol>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-handout-hustonsmith-primalreligion.pdf">Huston Smith on Primal Religion <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-gods%20must%20be%20crazy%20discussion%20questions%20copy.pdf">God&#8217;s Must Be Crazy Discussion Questions <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://drive.google.com/file/d/0B_bmjMiJbgqxU0RBdExFT1ZyUDg/view?usp=sharing">The Gods Must Be Crazy clip <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-primal-connections.pdf">Primal Connections <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-primal-dimensions.pdf">Primal Dimensions <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-primal-hunting.pdf">Primal Religion-Hunting <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-primal-prayer.pdf">Primal Prayer <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-primal-sun.pdf">Primal: Connection to the Sun <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-primal-diamond.pdf">Lessons For The Modern World- Jared Diamond <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="http://www.script-o-rama.com/movie_scripts/g/gods-must-be-crazy-script-transcript.html">Gods Must Be Crazy Script <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="http://thisibelieve.org/essay/31008/">Joy Harjo Audio: This I Believe <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="http://www.spacetelescope.org/news/heic1502/">Andromeda in HD<img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="https://www.youtube.com/watch?v=udAL48P5NJU">Video: Gigapixels of Andromeda <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="http://www.spacetelescope.org/images/heic1502a/zoomable/">Andromeda using Zoom Tool <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="http://www.spacetelescope.org/images/archive/top100/">Top 100 Images from Hubble <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-prayer-service.pages">Row Prayer Service Script note: open in pages</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-primal-smith-reading-guide-11-20.pdf">Huston Smith reading guide pages 11&#8211;20 <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/notability20x20.png" alt=" " /></a></li>
<li><a href="http://www.unification.net/ws/">World Scripture: Anthology of Sacred Texts <img src="https://dl.dropboxusercontent.com/u/916107/teaching_web_assets/safari_icon20x20.png" alt=" " /></a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-primal-speech.pdf">Primal Speech Activity</a></li>
</ol>


                </div> <!-- end of unit table -->



                </div> <!-- end of intro and primal -->
   
 <div class="row">

<div class="col-md-6 col-sm-6"> <!-- start of a unit table -->

     
                    <h3>Hinduism</h3>        
                 

            <ol>
<li><a href="https://www.flickr.com/groups/thesketchnotehandbook/pool/">Sketchnote Flickr Group</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row_hindu_history_scott_notes.pdf">Mr. Scott&#8217;s Sketchnote of Hindu History</a></li>
<li><a href="https://www.youtube.com/watch?v=d2vK6_8I2FU">Artist Draws Rome from Memory</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-studentleadership.pdf">Student Leadership: Prayer, KIR, and Snacks</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-hinduism-amma-mindmap.pdf">Amma Mindmap</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-hinduism-amma-packet.pdf">Amma Packet</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-researchpaper.html">Research Paper Information</a></li>
<li><a href="http://amma.org">Amma&#8217;s Website</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-hindu-history-3a.pdf">Hindu History 3A</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-hindu-history-8th.pdf">Hindu History 8th Period</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-hindu-faq.pdf">Hindu FAQ</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-hindu-faq-directions.pdf">Hindu FAQ Instructions</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-hindu-terms-notes.pdf">Hindu Terms: Notes</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-hindu-gita-presentation-notes.pdf">Notes on the Bhagavad Gita</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-hindu-gita-reading.pdf">Bhagavad Gita Chapters 2&#8211;3</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-hindu-meat.pdf">Hindu FAQ&#8211; Meat 8th period</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/KumareWorksheet.pdf">Kumare worksheet</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-gandhi.pdf">Gandhi Autobiography-short</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-gandhi-full.pdf">Gandhi Autobiography-full</a></li>
</ol>


                </div> <!-- end of unit table -->




<div class="col-md-6 col-sm-6"> <!-- start of a unit table -->
     
                    <h3>Jainism</h3>        
                 

           <ol>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-jain-symbol.pdf">Jain Symbol</a></li>
<li><a href="https://dl.dropboxusercontent.com/u/916107/teachdocs/row-jain.itmz">Jain Mindmap</a></li>
<li><a href="http://www.jainworld.com">Jain World good resource on the Jain Religion</a></li>
<li><a href="http://www.patheos.com/Library/Jainism.html">Patheos- Quick Survey of Jainism</a></li>
<li><a href="http://www.nytimes.com/2014/11/18/world/asia/prodigy-in-india-credits-feats-of-memory-to-meditation-and-jainism.html?_r=0">Jain Monk- Memory Master, Meditation</a></li>
<li><a href="http://www.nytimes.com/2009/11/13/arts/design/13jain.html?pagewanted=all">Jain Art&#8211;&#8220;Compassionate Masters of the Universe&#8221;</a></li>
<li><a href="http://www.jcnc.org">Jain Temple- San Jose</a></li>
<li><a href="http://channel.nationalgeographic.com/taboo/videos/fasting-to-death/">Sallekhana-</a></li>
<li><a href="http://www.jainworld.com/education/seniors/senles15.htm">Sallekhana- Fasting to Death </a></li>
</ol>


                </div> <!-- end of unit table -->


            </div> <!-- end of Jain and Hinduism -->


                <div class="col-md-12 col-sm-12"> <!-- start of a unit table -->

     
                    <h3>Buddhism</h3>        
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Name </th>
                              <th>Description</th>
                       
                          </tr>
                      </thead>
                      <tbody>
                      {% for resource in site.data.04_buddhism %}
                          <tr>
                          <td>{{ resource.resource-id }}</td>
                          <td><a href='{{ resource.url }}' target='_blank' title='{{ resource.title }}'> {{ resource.name }}</a></td>
                          <td><a href='{{ resource.url }}' target='_blank' title='{{ resource.title }}'><i class="fa fa-file-{{resource.type}}-o fa-lg"></i></a> {{ resource.why }}</td>
                          </tr>
                     {% endfor %} 

                      </tbody>
                  </table>


                </div> <!-- end of unit table -->






<div class="col-md-12 col-sm-12"> <!-- start of a unit table -->

     
                    


                </div> <!-- end of unit table -->








      
            </div> <!-- end of table row -->
        </div>  <!-- container div -->



    </section>